<%= form_for @post do |f| %>
  

  <h3>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </h3>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :postpic %>
    <%= f.file_field :postpic %>
  </p>

    <%= f.submit 'Create Post' %>
  </p>

<% end %>

  <p>
    <%= link_to 'Delete Post', post_path(@post), method: :delete %>
  </p>
