<h3> Welcome to the posts index </h3>


<hr>

<%= link_to 'Add a New Post', new_post_path %><br>

<hr>

<% @posts.each do |post| %>
  
  <div class="row">
    
    <div class="col-xs-1">
	  <%= image_tag post.postpic.url(:thumb), class: 'instagram-upload' %>
	</div>
	
	<div class="col-xs-11">
	  <strong><%= link_to post.name, edit_post_path(post) %></strong><br>
	  <p><%= truncate(post.description, :length => 70) %></p>
	  <p><small style="font-style:italic;color:gray">Tags -> </small> 
	    <% post.tags.each do |tag| %>
	    <%= link_to tag, tag_posts_path(tag) %>
	  <% end %></p>

    </div>
  </div>
  <hr>
<% end %>


